*{
background-color: antiquewhite;
font-family: Arial, Helvetica, sans-serif;
#heading{
    text-align: center;
}
}
.cont{
    padding:15px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
}
#first{
    display: flex;
    border-radius:25px;
    
    
    height:450px;
    width:400px;
    border-radius: 10px;
}
nav{
    background-color:antiquewhite;

}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    display: flex;
    height:50px;
    width:75px;
    padding:10px;
    color:antiquewhite;

}
nav a{
    font-size: 18.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;   
    cursor: pointer;
    color:rgb(0, 0, 0)
}
nav a:hover{
    background-color: #dedcc9;
    cursor: pointer;
    
}
nav li:first-child{
  
    margin-right: auto;
}
.cont1{
    padding:15px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
#tit{
    background-color:rgb(255, 255, 255)
}
#welcome{
    background-color:rgb(255, 255, 255);
}
.no{
    padding:25px;
}
.frontc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.frontc #front1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
.condt{
        padding:15px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
}
.condt1{
        padding:15px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
#tits{
    background-color:rgb(255, 255, 255)
}
#about{
    background-color:rgb(255, 255, 255);
}
.no2{
    padding:25px;
}
.condo{
     padding:15px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;

}
.condo1{
     padding:15px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
#tot{
    background-color:rgb(255, 255, 255)
}
.Benefits{
    background-color:rgb(255, 255, 255);
}
.no3{
    padding:25px;
}